@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --ff-all: "Spartan", sans-serif;
  --fc-vdm: hsl(300, 43%, 22%);
  --fc-sp: hsl(333, 80%, 67%);
  --fc-dgm: hsl(303, 10%, 53%);
  --fc-lgm: hsl(300, 24%, 96%);
  --fc-white: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--ff-all);
}

body {
  background: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 600px, 1500px 900px;
  background-position: left top, 100px 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  margin: 5% 10%;
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
}
.top-left {
  width: 45%;
}
.top-left h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 20px;
  color: var(--fc-vdm);
}
.top-left p {
  font-size: 1rem;
  color: var(--fc-dgm);
  line-height: 1.5rem;
}

.top-right {
  width: 50%;
}
.stars {
  padding: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  background-color: var(--fc-lgm);
  color: var(--fc-vdm);
  font-weight: 700;
  border-radius: 5px;
}
.report-guru {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
}
.besttech {
  margin-left: 20%;
}

.star-icon {
  margin-left: 10px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.card {
  border-radius: 10px;
  background-color: var(--fc-vdm);
  padding: 2rem;
  width: 26%;
  height: 30%;
  display: flex;
  flex-direction: column;
}

.card.two {
  margin-top: 1%;
}
.card.three {
  margin-top: 2%;
}
.person {
  display: flex;
  align-items: center;
}

.person img {
  margin-right: 1.5rem;
  width: 15%;
  border-radius: 50%;
}

.desc p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: var(--fc-white);
  font-weight: 600;
}
.desc p span {
  color: var(--fc-sp);
  font-weight: 100;
}

.quote {
  margin-top: 10%;
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: var(--fc-white);
}

@media (max-width: 375px) {
  .main {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .top {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .top-left {
    width: 100%;
  }
  .top-left h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .top-left p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .top-right {
    width: 100%;
    margin-top: 2rem;
  }
  .stars {
    padding: 1rem 0;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .report-guru {
    margin: 1rem 0;
  }
  .besttech {
    margin: 0;
  }
  .star-icon {
    width: 30%;
    margin-bottom: 0.7rem;
    justify-content: center;
  }
  .star-icon img {
    margin-right: 1rem;
  }

  .bottom {
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
    padding: 2rem 2rem;
    /* padding: 1rem; */
  }
  .card.two {
    margin: 1rem 0;
  }
  .quote {
    font-size: 1rem;
  }
}
